In [5]:
import pandas as pd
import pickle

In [6]:
tags=pd.read_csv('Data/ml-small/tags.csv')
tags.drop(columns=["timestamp",],inplace=True)
tags.head()

   userId  movieId              tag
0       2    60756            funny
1       2    60756  Highly quotable
2       2    60756     will ferrell
3       2    89774     Boxing story
4       2    89774              MMA

In [7]:
d1=tags.groupby("movieId")['tag'].apply(lambda tag: '|'.join(tag))
tag_final=pd.DataFrame.from_dict(d1)
tag_final.head()

                                                       tag
movieId
1                                      pixar | pixar | fun
2        fantasy | magic board game | Robin Williams | ...
3                                              moldy | old
5                                       pregnancy | remake
7                                                   remake

In [8]:
ratings=pd.read_csv('Data/ml-small/ratings.csv')
ratings.drop(columns=["timestamp"],inplace=True)
d2=ratings.groupby('movieId')['rating'].mean()
rating_final=pd.DataFrame.from_dict(d2)
rating_final.head()

           rating
movieId
1        3.920930
2        3.431818
3        3.259615
4        2.357143
5        3.071429

In [9]:
genre=pd.read_csv('Data/ml-small/movies.csv')
genre.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [10]:
genre['release_year']=genre['title'].str.extract('(\d\d\d\d)', expand=True)
genre["title_movie"]= genre["title"].str.split("(", n = 1, expand = True)[0] 
genre.drop(columns=["title"],inplace=True)
genre.head()

,movieId,genres,release_year,title_movie
0,1,Adventure|Animation|Children|Comedy|Fantasy,1995,Toy Story
1,2,Adventure|Children|Fantasy,1995,Jumanji
2,3,Comedy|Romance,1995,Grumpier Old Men
3,4,Comedy|Drama|Romance,1995,Waiting to Exhale
4,5,Comedy,1995,Father of the Bride Part II

In [11]:
df_merge_col = pd.merge(tag_final, rating_final, on='movieId')

In [12]:
df_merge_col.head()

                                                       tag    rating
movieId
1                                      pixar | pixar | fun  3.920930
2        fantasy | magic board game | Robin Williams | ...  3.431818
3                                              moldy | old  3.259615
5                                       pregnancy | remake  3.071429
7                                                   remake  3.185185

In [14]:
merge_genre=pd.merge(df_merge_col, genre, on='movieId')

In [15]:
plots=pd.read_csv('Data/ml-small/plots.csv')
plots.head()

,movieId,imdb,tmdb
0,1,\n A cowboy doll is profoun...,"\nLed by Woody, Andy's toys live happily in hi..."
1,2,\n When two kids find and p...,\nWhen siblings Judy and Peter discover an enc...
2,3,\n John and Max resolve to ...,\nA family wedding reignites the ancient feud ...
3,4,\n Based on Terry McMillan'...,"\nCheated on, mistreated and stepped on, the w..."
4,5,\n George Banks must deal n...,\nJust when George Banks has recovered from hi...

In [16]:
merge_final=pd.merge(merge_genre, plots, on='movieId')
merge_final.head()

,movieId,tag,rating,genres,release_year,title_movie,imdb,tmdb
0,1,pixar | pixar | fun,3.920930,Adventure|Animation|Children|Comedy|Fantasy,1995,Toy Story,\n A cowboy doll is profoun...,"\nLed by Woody, Andy's toys live happily in hi..."
1,2,fantasy | magic board game | Robin Williams | ...,3.431818,Adventure|Children|Fantasy,1995,Jumanji,\n When two kids find and p...,\nWhen siblings Judy and Peter discover an enc...
2,3,moldy | old,3.259615,Comedy|Romance,1995,Grumpier Old Men,\n John and Max resolve to ...,\nA family wedding reignites the ancient feud ...
3,5,pregnancy | remake,3.071429,Comedy,1995,Father of the Bride Part II,\n George Banks must deal n...,\nJust when George Banks has recovered from hi...
4,7,remake,3.185185,Comedy|Romance,1995,Sabrina,\n An ugly duckling having ...,\nAn ugly duckling having undergone a remarkab...

In [17]:
merge_final.to_pickle('merged_data.pickle')

In [20]:
merge_final.to_csv('Data/ml-small/data.csv',index=False)