In [22]:
import pandas as pd
import time
import requests
import pickle

In [4]:
tags=pd.read_csv('tags.csv')
tags.drop(columns=["timestamp",],inplace=True)
tags.head()

   userId  movieId              tag
0       2    60756            funny
1       2    60756  Highly quotable
2       2    60756     will ferrell
3       2    89774     Boxing story
4       2    89774              MMA

In [7]:
d1=tags.groupby("movieId")['tag'].apply(lambda tag: ','.join(tag))
tag_final=pd.DataFrame.from_dict(d1)
tag_final

                                                     tag
movieId
1                                        pixar,pixar,fun
2           fantasy,magic board game,Robin Williams,game
3                                              moldy,old
5                                       pregnancy,remake
7                                                 remake
...                                                  ...
183611                       Comedy,funny,Rachel McAdams
184471   adventure,Alicia Vikander,video game adaptation
187593                 Josh Brolin,Ryan Reynolds,sarcasm
187595                           Emilia Clarke,star wars
193565                     anime,comedy,gintama,remaster

[1572 rows x 1 columns]

In [11]:
ratings=pd.read_csv('ratings.csv')
ratings.drop(columns=["timestamp"],inplace=True)
d2=ratings.groupby('movieId')['rating'].mean()
rating_final=pd.DataFrame.from_dict(d2)
rating_final

           rating
movieId
1        3.920930
2        3.431818
3        3.259615
4        2.357143
5        3.071429
...           ...
193581   4.000000
193583   3.500000
193585   3.500000
193587   3.500000
193609   4.000000

[9724 rows x 1 columns]

In [13]:
genre=pd.read_csv('movies.csv')
genre

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [16]:
genre['release_year']=genre['title'].str.extract('(\d\d\d\d)', expand=True)

genre

,movieId,title,genres,release_year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995
...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,2017
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,2017
9739,193585,Flint (2017),Drama,2017
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,2018
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,1991

In [17]:

 new = genre["title"].str.split("(", n = 1, expand = True) 
genre["title_movie"]= new[0] 
genre.drop(columns=["title"],inplace=True)
genre

,movieId,genres,release_year,title_movie
0,1,Adventure|Animation|Children|Comedy|Fantasy,1995,Toy Story
1,2,Adventure|Children|Fantasy,1995,Jumanji
2,3,Comedy|Romance,1995,Grumpier Old Men
3,4,Comedy|Drama|Romance,1995,Waiting to Exhale
4,5,Comedy,1995,Father of the Bride Part II
...,...,...,...,...
9737,193581,Action|Animation|Comedy|Fantasy,2017,Black Butler: Book of the Atlantic
9738,193583,Animation|Comedy|Fantasy,2017,No Game No Life: Zero
9739,193585,Drama,2017,Flint
9740,193587,Action|Animation,2018,Bungo Stray Dogs: Dead Apple
9741,193609,Comedy,1991,Andrew Dice Clay: Dice Rules

In [18]:
df_merge_col = pd.merge(tag_final, rating_final, on='movieId')

In [19]:
df_merge_col

                                                     tag    rating
movieId
1                                        pixar,pixar,fun  3.920930
2           fantasy,magic board game,Robin Williams,game  3.431818
3                                              moldy,old  3.259615
5                                       pregnancy,remake  3.071429
7                                                 remake  3.185185
...                                                  ...       ...
183611                       Comedy,funny,Rachel McAdams  4.000000
184471   adventure,Alicia Vikander,video game adaptation  2.500000
187593                 Josh Brolin,Ryan Reynolds,sarcasm  3.875000
187595                           Emilia Clarke,star wars  3.900000
193565                     anime,comedy,gintama,remaster  3.500000

[1554 rows x 2 columns]

In [20]:
merge_final=pd.merge(df_merge_col, genre, on='movieId')

In [21]:
merge_final

,movieId,tag,rating,genres,release_year,title_movie
0,1,"pixar,pixar,fun",3.920930,Adventure|Animation|Children|Comedy|Fantasy,1995,Toy Story
1,2,"fantasy,magic board game,Robin Williams,game",3.431818,Adventure|Children|Fantasy,1995,Jumanji
2,3,"moldy,old",3.259615,Comedy|Romance,1995,Grumpier Old Men
3,5,"pregnancy,remake",3.071429,Comedy,1995,Father of the Bride Part II
4,7,remake,3.185185,Comedy|Romance,1995,Sabrina
...,...,...,...,...,...,...
1549,183611,"Comedy,funny,Rachel McAdams",4.000000,Action|Comedy|Crime|Horror,2018,Game Night
1550,184471,"adventure,Alicia Vikander,video game adaptation",2.500000,Action|Adventure|Fantasy,2018,Tomb Raider
1551,187593,"Josh Brolin,Ryan Reynolds,sarcasm",3.875000,Action|Comedy|Sci-Fi,2018,Deadpool 2
1552,187595,"Emilia Clarke,star wars",3.900000,Action|Adventure|Children|Sci-Fi,2018,Solo: A Star Wars Story
1553,193565,"anime,comedy,gintama,remaster",3.500000,Action|Animation|Comedy|Sci-Fi,2010,Gintama: The Movie

In [23]:
merge_final.to_pickle('merged_data.pickle')

In [24]:
merge_final.to_csv('merge_final.csv',index=False)